{% extends "blog/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 offset-md-3" style="margin-top: 20px;">
            <h1 style="margin-bottom: 20px;">Log In to Your Account</h1>
            <form action="{% url 'blog:login' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_field form.username show_label=False %}
                {% bootstrap_field form.password show_label=False %}
                {% buttons %}
                <button name="submit" class="btn btn-primary">Log In</button>
                {% endbuttons %}
                <input type="hidden" name="next" value="{% url 'blog:index' %}">
            </form>
            <p class="lead">
                New User? Click <a href="{% url 'blog:sign_up' %}">here</a> to sign up!
            </p>
        </div>
    </div>



</div>

{% endblock content %}